body {
    margin: 0;
    overflow: hidden;
    /*  overflow: scroll;*/
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #9ABAD9;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0px 20px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #9ABAD9;
    color: #444;
    background-color: #EBF5FF;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 20px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #9ABAD9;
    color: #fff;
    background-color: #409cff;
}

.tg .tg-hmp3 {
    background-color: #D2E4FC;
    text-align: left;
    vertical-align: top
}

.tg .tg-n7rq {
    border-color: #444444;
    text-align: left;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

.hide {
    visibility: hidden;
}